.body{
    background: linear-gradient(to right, #5EBC67, white)
}
/* Navigation */
.nav-bar{
    padding: 2rem 3rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.nav-bar img { 
    display: flex;
    height: 32px; 
    object-fit: contain;
    margin-right: 10px;
    transform: translateY(8px);
}
/* Navigation Items/Buttons */
.nav-items { 
    background-color: #5EBC67;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-right: 20px;
    gap: 2rem;
}
.nav-items li {
    display: inline-block; /* Makes list items horizontal */
}
.nav-items a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.nav-items a:hover {
    color: black;
    border-radius: 25px;
    background-color: #ffffff;
    transform: translateY(-2px);
}
.body-container { 
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #5EBC67;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    gap: 3rem;
}
.contact-container { 
    border-radius: 25px;
    background-color: #ffffff;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}
.contact-container:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.507);
    cursor: pointer;
}

.contact-info {
    text-align: center;
    margin-bottom: 2rem;
}

.contact-info u, h2 {
    color: #5EBC67;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-info p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
}
.address-container { 
    border-radius: 25px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem; 
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}
.address-container:hover { 
    transform: translateY(-10px);
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.507);
    cursor: pointer
}
.address-info {
    text-align: center;
    margin-bottom: 2rem;
}
.address-info  u, h2 {
    color: #5EBC67;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.address-info p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
}
.footer { 
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 25px;
}
